@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*bg colours*/
  --backgound: linear-gradient(to right, #200122, #6f0000);
  --primary: darkred;
  --secondary: darkgoldenrod;
  --bg-card: linear-gradient(to top, #000000, #434343);
  --alt-bg: linear-gradient(to bottom, #cac531, #f3f9a7);
  /*text colours*/
  --text-white: white;
  --text-black: black;
}

body {
  font-family: "Pacifico";
  width: 100%;
  background-image: url(./img/te-inicio.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  min-height: 100vh;
}

.form {
  background-color: var(--primary);
  margin: auto;
  width: 90%;
  max-width: 400px;
  padding: 4.5em 3em;
  border-radius: 12px;
  box-shadow: 0 5px 10px -5px rgb(0 0 0 / 80%);
  text-align: center;
}

.logo {
  height: 60px;
}

.form-title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: var(--secondary);
}

.form-parrafo {
  font-weight: 300;
}

.form-link {
  font-weight: 400;
  color: var(--secondary);
}

.form-container {
  margin-top: 3em;
  display: grid;
  gap: 2.5em;
}

.form-group {
  position: relative;
  --color: var(var(--secondary));
}

.form-input {
  width: 100%;
  background: none;
  color: var(--text-white);
  padding: 0.6em 0.3em;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color);
  font-family: "Pacifico";
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  transform: translateY(-12px) scale(0.7);
  transform-origin: left top;
  color: var(--secondary);
}

.form-label {
  color: var(--color);
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 5px;
  transform: translateY(10px);
  transition: transform 0.5seg, color 0.3seg;
}

.form-submit {
  background: var(--secondary);
  color: var(--text-black);
  font-family: "Pacifico";
  font-weight: 300;
  font-size: 1rem;
  padding: 0.8em 0;
  border: none;
  border-radius: 0.5em;
}

.form-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--secondary);
  transform: scale(0);
  transform: left bottom;
  transition: transform 0.4seg;
}

.form-input:focus ~ .form-line,
.form-input:not(:placeholder-shown) ~ .form-line {
  transform: scale(1);
}

.form-genero {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}
.form-genero p {
  font-size: 25px;
}
.generos {
  display: flex;
  gap: 10px;
}

.birth {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}
/*Media querie*/

@media (max-width: 425px) {
  .form-title {
    font-size: 1.8rem;
  }
}
